Django==1.7
PyYAML==3.11
argparse==1.2.1
biplist==0.9
defusedxml==0.4.1
django-tastypie==0.12.1
django-tastypie-mongoengine==0.4.6
ipython==2.2.0
lxml==3.4.1
mongoengine==0.8.1
pymongo==2.7.2
python-dateutil==2.4.0
python-mimeparse==0.1.4
six==1.9.0
wsgiref==0.1.2

#bson==0.3.3
#pytz==2014.10
